[a-start] {
    align-items: flex-start;
}

[a-end] {
    align-items: flex-end;
}

[a-center] {
    align-items: center;
}

[stretch] {
    align-items: stretch;
}

[baseline] {
    align-items: baseline;
}