[sb]{
    justify-content: space-between;
}

[sa]{
    justify-content: space-around;
}

[se]{
    justify-content: space-evenly;
}

[end]{
    justify-content: flex-end;
}

[start]{
    justify-content: flex-start;
}